.Section1-home-Peg
{
    overflow: hidden;
    background-image: url(https://personalwebsite3.netlify.app/images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;

.row
{
    background: #37555826;
    text-align: center;
    color: #fff;
    padding: 17em 0em;
    width: -webkit-fill-available;
}




.card-text
{
    div
    {   
        h1
        {
            line-height: 3;
            font-size: 35px;
        }

        p
        {
            line-height: 3;
            display: flex;
            justify-content: center;
            align-items: center;

            a
            {

                background: whitesmoke;
                width: 50px;
                border-radius: 50%;
                border: 5px solid #9e9e9ed9;
                line-height: 2.5;
                margin: 0px 10px;
                color: #000;
                transition: .4s;
            
            }

            
        a:hover
        {
            box-shadow: 0px 0px 8px 3px #9e9e9ed9;
        }
        }
    }
}


.card-link
{    padding: 3em 0em;
    div
    {


        a
        {
            background:#aaaaaa42;
            color: white;
            padding: 10px 15px;
            border-radius: 6px;
            font-size: 20px;
            margin: 15px;
            border: 1px solid #d0cccc;
            transition: .1s;


        }


        .Call
        {
            background: #aaaaaa00;
            padding: 10px 50px;
            padding: .5em 1em;
        }
        .Call:hover
        {
            background:#aaaaaa42;
        }






    }
}




}